<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" type="text/css" href="{% static 'reviewer_app/css/standard.css' %}">
    <title>Belt Reviewer</title>
</head>
<body>    
    <div id="container">
        <div id="header">
            <a href="/logout"><h4 class="top">Logout</h4></a>
            <a href="/add"><h4 class="top">Add Book and Review</h4></a>
            <a href="/books"><h4 class="top">Home</h4></a>
        </div>
        <div>
            <h2>User Alias: {{users.alias}}</h2>
            <h2>Name: {{users.name}}</h2>
            <h2>Email: {{users.email}}</h2>
            <h2>Total Reviews: {{users.written_reviews.all|length}}</h2>
            <h3>Posted Reviews on the following books:</h3>
            {% for review in users.written_reviews.all %}
            <p><a href="/books/{{review.book_reviewed.id}}">{{review.book_reviewed.title}}</a></p>
            {% endfor%}
        </div>
    </div>
</body>
</html>