<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'time_display_app/css/main.css' %}">
    <title>Time Display</title>
</head>
<body>
    <div id="desc">
        <h2>The current date and time:</h2>
    </div>
    <div id="time">
        <h1>{{date}}</h1>
        <h1>{{time}}</h1>
    </div>
</body>
</html>




