<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" type="text/css" href="{% static 'restful_app/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Restful Users</title>
</head>
<body>
    <div id="container">
        <h1 id="big">Add a new user...</h1>
        <form name="newuser" action="/users/create" method="post">
            {% csrf_token %}
            <h3>First Name:</h3>
            <input class="input" type="text" name="firstname">
            <h3>Last Name:</h3>
            <input class="input" type="text" name="lastname">
            <h3>Email:</h3>
            <input class="input" type="text" name="email">
            <input id="button" type="submit">
        </form>
        <a href="/users"><h2>Go Back</h2></a>
    </div>
</body>
</html>