<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" type="text/css" href="{% static 'restful_app/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Restful Users</title>
</head>
<body>
    <div id="container">
        <h1 id="big">Users</h1>
        <h2>Full Name: {{user.firstname}} {{user.lastname}}</h2>
        <h2>Email: {{user.email}}</h2>
        <h2>Created at: {{user.created_at}}</h2>
        <a href="/users/{{user.id}}/edit"><h2>Edit</h2></a> | <a href="/users/{{user.id}}/destroy"><h2>Delete</h2></a>
    </div>
</body>
</html>